<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/book}" th:object="${books}">
  <label for="title">Enter name: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
  <br/>
  <label for="authorName">Enter author name: </label>
  <input type="text" th:field="*{authorName}" id="authorName"/>
  <div style="color:red" th:if="${#fields.hasErrors('authorName')}" th:errors="*{authorName}">Title Error</div>
  <br/>
  <label for="yearOfWriting">Enter year of writing: </label>
  <input type="text" th:field="*{year}" id="yearOfWriting"/>
  <br/>

  <input type="submit" value="Create!"/>

</form>

</body>
</html>